p {
  margin: 0;
}

.video {
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.title {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.count {
  color: gray;
  padding-top: 0.2rem;
}

/* list 일때 */
.video.list {
  display: flex;
  width: 100%;
}

.video.list .img {
  width: 40%;
}

.video.list .info {
  padding-left: 0.8rem;
  font-size: 0.8rem;
}

/* grid 일때 */
.video.grid {
  text-align: center;
  /* max-width: 20rem; */
}

.video.grid .info {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 320px;
}

.video.grid .title {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  /* width: 320px; */
}

.video.grid .channelName {
  font-size: 0.8rem;
}

.video.grid .count {
  font-size: 0.7rem;
}
