body {
  font-family: 'Roboto', Arial, sans-serif;
  /* padding: 0rem 0rem 0.6rem 1.4rem; */
}

button {
  cursor: pointer;
}

.navbar {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  top: 0;
  left: 0;
  right: 0;
  padding: 0px 16px;
  background-color: white;
}

.home {
  display: flex;
  align-items: center;
}

.menu {
  color: #818181;
  background-color: transparent;
  font-size: 1.5rem;
  margin-right: 0.8rem;
  border: none;
}

.img {
  width: 100px;
  height: 50px;
}

.form {
  display: flex;
  align-items: center;
  width: 55%;
  height: 2.1rem;
  /* margin-right: 2rem; */
}

@media screen and (max-width: 1020px) {
  .form {
    width: 40%;
  }
}
@media screen and (max-width: 670px) {
  .form {
    width: 30%;
  }
}
@media screen and (max-width: 625px) {
  .form {
    display: none;
  }
}

.input {
  height: 2.1rem;
  margin-left: 1.5rem;
  padding-right: 35rem;
  padding-left: 0.3rem;
}

.input::placeholder {
  font-size: 1rem;
}

.searchBtn {
  font-size: 1.3rem;
  background-color: #f9f9f9;
  padding: 0.4rem 1rem;
  outline: none;
  box-shadow: none;
  border: 1px solid rgb(118, 118, 118);
}

.login {
  position: relative;
  font-size: 1.1rem;
  color: #065fd4;
  background-color: transparent;
  padding: 0.5rem 0.8rem;
  border: 1px solid #065fd4;
}

.login_name {
  margin-left: 0.3rem;
}
